body{
    font-size: 30px;
    text-align: center;
  }
  
  
  
  
  
      .boxed {
          padding: 3rem;
          text-align: center;
          display: boxed;
          position: absolute;
          top: 20%;
          left: 30%;
          font-size: 25px;
          border: 1px solid black;
        
        width: 400px;
        background-color: aliceblue;
      
      }