.button{
    float: right;
    width: 90px;
    height: 200px;
    border: 2px solid #bbbbbb;
    font-size: 24px;
}
body{
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 20px;   
}
.topnav{ 
    
    height: 40px;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: rgb(181, 212, 212);
    padding: 20px;  
}
.boxed{
    padding: 1rem;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin: 1rem;
    border: 2px solid azure;
    width: 550px;
    background-color: darkgray;
    position: absolute;
    top: 20%;
    left: 30%;
}
.black{
    color: darkblue;
}
.heading{
    text-align: center;
}
#ProductName{
    width: 300px;
    height:  25px
}
#ProductId{
    width: 300px;
    height:  25px
}
#Quantity{
    width: 300px;
    height:  25px
}
#Brand{
    width: 300px;
    height:  25px
}
#Price{
    width: 300px;
    height:  25px
}
#password1{
    width: 300px;
    height:  25px  
}
#username1{
    width: 300px;
    height:  25px    
}
#password2{
    width: 300px;
    height:  25px  
}
#username2{
    width: 300px;
    height:  25px    
}
#firstname{
    width: 300px;
    height:  15px   
}
#lastname{
    width: 300px;
    height:  15px   
}
#email{
    width: 300px;
    height:  15px 
}
#password{
    width: 300px;
    height:  15px 
}
#confirmPassword{
    width: 300px;
    height:  15px 
}
#username{
    width: 300px;
    height:  15px 
}
#contact{
    width: 300px;
    height:  15px 
}
.SButton{
    height: 40px;
    width: 100px
}
table, th, td{
    border: 1px solid black;
    position: relative;
    height: 90px;
    width: 550px;
    background-color: azure;
    border-collapse: collapse
}