.button{
    float: right;
    width: 90px;
    height: 200px;
    border: 2px solid #bbbbbb;
    font-size: 24px;
}


body{
    padding: 2rem;
    text-align: left;
    font-size: 30px;
    
}

.nav{
    text-align: right;
    
}
.boxed{
    font-size: 45px;
    font-style: italic;
    text-align: center;
    margin: 2rem;
    border: 2px solid azure;
    width: 800px;
    background-color: darkgray;

}