body{
    font-size: 40px;
    text-align: center;
}

.boxed{
    background-color: azure;
    position: absolute;
    margin: 2rem;
    padding: 3rem;
    width: 400px;
    height:350px;
    top: 20%;
    left: 30%;
}